@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
.header {
  max-width: 80%;
}
.header > img {
  background: #ffffff;
  border: 3px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header h3 {
  size: 16px;
}
.header h4 {
  size: 14px;
}
.header .header-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}
.header .header-details .details-sec-1 {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.header .header-details .details-sec-1 .social-links {
  display: flex;
  gap: 10px;
}
.header .header-details .details-sec-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.header .header-details .details-sec-2 .enquiry-buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.header .header-details .details-sec-2 .enquiry-buttons .btn {
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header .company-details {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  padding: 1.5rem 1.25rem;
}
.header .company-details h3 {
  margin-bottom: 1rem;
}

.page-body {
  max-width: 80%;
}
.page-body h3 {
  margin-bottom: 2rem;
}
.page-body .clients {
  flex-wrap: wrap;
}
.page-body .clients .client-card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 30px;
  padding: 2rem;
  text-align: center;
}

.addressCard {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 14px 16px;
}
.addressCard .addressCard__link {
  display: flex;
}

.offerCard {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 24px 10px;
  margin-bottom: 20px !important;
}
.offerCard .offerCard__title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.offerCard .offerCard__divider {
  border: 1px solid;
  margin-top: 20px;
  border-color: rgb(227, 220, 82);
}
.offerCard .offerCard_image {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-top: 20px;
}
.offerCard .offerCard__desc {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.8);
}
.offerCard .offerCard__info {
  margin-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.fameCard {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 20px !important;
}
.fameCard .fameCard__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}
.fameCard .fameCard__name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 8px;
}
.fameCard .fameCard__loc {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 8px;
}
.fameCard .fameCard__desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.footer {
  margin-top: 50px;
}
.footer .footer__box {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  width: 100%;
}
.footer .footer__box .footer__border {
  display: flex;
  align-items: center;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 300px;
  margin-bottom: 30px;
}
.footer .footer__title {
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  margin: 0 auto;
}/*# sourceMappingURL=App.css.map */